   <div class="row">
    <div class="col-md-6">
        <mat-card class="profile-card">
            <h2>Registration Form</h2>
            <form [formGroup]="registrationForm" (ngSubmit)="submitData()">
                <form [formGroup]="registrationForm" (ngSubmit)="submitData()">
                  <mat-form-field appearance="fill">
                    <mat-label>Name</mat-label>
                    <input matInput formControlName="name">
                    <mat-error *ngIf="registrationForm.get('name').invalid && registrationForm.get('name').touched">
                     Name is required.
                    </mat-error>
                  </mat-form-field>
                  <mat-form-field>
                    <mat-label>Employee Id</mat-label>
                    <input matInput formControlName="employeeId">
                    <mat-error *ngIf="registrationForm.get('employeeId').invalid && registrationForm.get('employeeId').touched">
                        employeeId is required and Employeeid is number only
                       </mat-error>
                  </mat-form-field>
            
                  <mat-form-field appearance="fill">
                    <mat-label>Enter Your City</mat-label>
                    <mat-select formControlName="city">
                      <mat-option value="newyork"> New York</mat-option>
                      <mat-option value="london"> London</mat-option>
                      <mat-option value="tokyo"> Tokyo</mat-option>
            
                    </mat-select>
                    <mat-error *ngIf="registrationForm.get('city').invalid && registrationForm.get('city').touched">
                        city is required.
                       </mat-error>
                  </mat-form-field>
                  <mat-form-field appearance="fill">
                    <mat-label>Gender</mat-label>
                    <mat-select formControlName="gender">
                      <mat-option value="male">Male</mat-option>
                      <mat-option value="female">Female</mat-option>
                    </mat-select>
                  </mat-form-field>
                  <button mat-raised-button color="primary" type="submit" *ngIf="!isEditMode" (click)="submitData()">Save</button>
                  <button mat-raised-button color="primary" type="button" *ngIf="isEditMode" (click)="updateData()">Update</button>
                </form>
            </form>
          </mat-card>
    </div>
    <div class="col-md-6">
        <h2>Form's Data</h2>
        <mat-card class="table-card">
            <mat-table [dataSource]="dataSource"  class="mat-elevation-z8">
                <ng-container matColumnDef="name">
                  <mat-header-cell *matHeaderCellDef>Name</mat-header-cell>
                  <mat-cell *matCellDef="let data">{{ data.name }}</mat-cell>
                </ng-container>
                <ng-container matColumnDef="employeeId">
                  <mat-header-cell *matHeaderCellDef>Employee Id</mat-header-cell>
                  <mat-cell *matCellDef="let data">{{ data.employeeId }}</mat-cell>
                </ng-container>
                <ng-container matColumnDef="city">
                  <mat-header-cell *matHeaderCellDef>City</mat-header-cell>
                  <mat-cell *matCellDef="let data">{{ data.city }}</mat-cell>
                </ng-container>
                <ng-container matColumnDef="gender">
                  <mat-header-cell *matHeaderCellDef>Gender</mat-header-cell>
                  <mat-cell *matCellDef="let data">{{ data.gender }}</mat-cell>
                </ng-container>
                <ng-container matColumnDef="actions">
                    <mat-header-cell *matHeaderCellDef>Actions</mat-header-cell>
                    <mat-cell *matCellDef="let element; let i = index">
                      <button mat-icon-button color="primary" (click)="editForm(element)">
                        <a mat-icon-button>
                            <mat-icon>edit</mat-icon>        
                          </a>
                    </button>
                      <button mat-icon-button color="warn" (click)="deleteRow(element)">		
                        <a mat-icon-button>
                        <mat-icon color="warn">delete</mat-icon>
                      </a></button>
                    </mat-cell>
                  </ng-container>
                  
                <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
              </mat-table>
        </mat-card>

    </div>
  </div>